* { box-sizing: border-box; }
body { margin: 0; font-family: 'Rokkitt', serif; }
.App { display: flex; width: 1000px; margin: 25px auto; flex-wrap: wrap; color: #2b2b2b; }
h1, h3 { font-size: 24px; margin: 0; color: #625e51; }
.products { width: 750px; flex-wrap: wrap;}
.product { display: inline-flex; width: calc(50% - 20px); padding: 15px; border: 1px solid #625e51; margin: 10px; }
.product-image { width: 35%; }
.product-details { width: 65%; padding-left: 15px; }
.product-image img { width: 100%; }
.product-name { font-size: 18px; margin: 0; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.product-price { font-size: 15px; color: #625e51; margin: 10px 0; }
.product-storage { margin: 0; text-transform: uppercase; color: #2b2b2b; display: inline-block; margin-left: 2px; }
.cart { width: 240px; margin: 10px 0 10px 10px; padding: 0 15px 15px 15px; border: 1px solid #625e51; height: 393px; overflow-y: auto; }
.btn { background: #625e51; height: 32px; padding: 0 15px; line-height: 32px; text-transform: uppercase; margin-top: 5px; color: #fff; border: 0; cursor: pointer; transition: .25s; font-weight: bold; display: inline-block; }
.btn:hover { opacity: .7; }
.btn.remove { color: red; background: transparent; padding: 0; height: auto; line-height: normal; margin: 0 0 5px 0; }
.cart .product { width: 100%; margin: 0; padding: 0; border: 0; }
.cart .product + .product { padding-top: 15px; border-top: solid 1px; margin-top: 7.5px; }
.empty { text-align: center; }
.cart-value { margin-top: 0px; padding: 10px 0; border-bottom: solid 1px; position: sticky; top: 0; background: #fff; z-index: 1; font-size: 18px; padding-bottom: 10px; margin-bottom: 15px; display: flex; justify-content: space-between; align-items: center; }
.cart-value .value { color: #625e51; font-weight: bold; }
.cart .product-image { width: 20%; }
.cart .product-name { font-size: 14px; }
.cart .product-details { width: 80%; padding-left: 10px; }
.cart .product-price { margin: 5px 0; }
.cart-container { position: relative; }
.btn-order {  margin-top: 0; height: 40px; line-height: 40px; font-size: 16px; width: 100px; margin-left: 10px; border: 0; cursor: pointer; }
.placed-order .product { width: calc(33.33% - 20px); }
.order-details { padding: 25px 10px;}
.order-details .value { margin: 0 10px; font-size: 30px; }
.order-details .product { width: calc(33.33% - 20px); }
.placed-order .h1 { padding: 10px; }
.placed-order .h3 { font-size: 20px; padding-bottom: 5px; }
.placed-order .h3:first-child { padding-top: 25px; border-top: solid 1px #625e51; }
